<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container resourceBG">
  <div class="eventDisplay">
    <div class="event-header">
      <div class="field">
        <h2><%= f.text_field :name, placeholder: "Name of Event", class: "textField" %></h2>
      </div>

      <div class="field">
        <div style="color:white;font-size:1.5em;">
        <%= f.text_field :location, placeholder: "Location of Event", class: "textField" %>
        </div>
      </div>
    </div>

  <div class="timeDesc">
    <br>
    <div class="field" style="color:yellow;">
      <strong>Start Date &amp; Time</strong><br>
      <%= f.datetime_select :start_time, { ampm: true, order: [:month, :day, :year], :default => {:hour => 12, :minute => 00}, :minute_step => 15 }, { class: "form-control dateTimePicker" } %>
    </div>
    <br>
    <div class="field" style="color:yellow;">
      <strong>End Date &amp; Time</strong><br>
      <%= f.datetime_select :end_time, { ampm: true, order: [:month, :day, :year], :default => {:hour => 12 ,:minute => 00}, :minute_step => 15 }, { class: "form-control dateTimePicker" } %>
    </div>

                <div class="field hidden">
                  <%= f.label :latitude %>
                  <%= f.text_field :latitude %>
                </div>

                <div class="field hidden">
                  <%= f.label :longitude %>
                  <%= f.text_field :longitude %>
                </div>
    <br><br>
    <div class="field" style="color:yellow;">
      <strong>Description of Event</strong>
      <%= f.trix_editor :description %>
    </div>
    <br><br>
    <% unless @event.poster.nil? %>
      <%= image_tag @event.poster, class: "eventPoster", alt: "No Image Selected" %>
    <% end %>
    <br><br>
    <strong>Upload or Change Event Poster (optional)</strong>
    <%= f.file_field :poster %>
    <br>
    <br>
    <strong>Address of Event</strong>
    <div class="field" style="color:white;">
      <%= f.text_field :address, class: 'textFieldAlt', placeholder: "Street Address for Map of Event Location" %>
    </div>
    <div align="center">Valid examples:  'Cayo Costa State Park' ,  'Port Charlotte, FL' ,  '2605 SW Baldwin St Arcadia, FL'</div>


    <br>
  <div class="actions" align="center">
    <%= f.submit "Save Event", class: "btn btn-lg btn-success" %>
  </div>

</div>
</div>


</div>
<% end %>
