<div class="searchBar">
  <h3>Event Calendar</h3>
  <%= link_to "Home", root_path, class: "btn btn-danger"%><%= link_to "All", calendar_path, class: "btn btn-warning" %>
  <%= form_tag calendar_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :style => "color:black;" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-danger" %>
    </p>
  <% end %>
</div>
