
<%= form_for(@resource, :html => { :multipart => true }) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container resourceBG">

<div class="plantName">
  <div class="form-group">
    <%= f.text_field :common, placeholder: "Common Name(s)", class: 'plantCName textField' %>
  </div>

  <div class="form-group">
    <%= f.text_field :binomial, placeholder: "Binomial name", class: 'plantLName textField' %>
  </div>
</div>

<div class="plantDesc">
  <div class="form-group" style="max-width:100%;">
    <%= f.label :description %>
    <%= f.trix_editor :description %>
  </div>
  <span style="color:red;">>>> Save any text before adding additional photos or editing captions!</span>
</div>


<% unless @resource_attachments.nil? %>
  <% @resource_attachments.each do |p| %>
    <div class="plantPictures">
      <div class="<%= rotateImage(p.rotate) %>">
        <%= link_to p.picture_url do %>
          <%= image_tag p.picture_url %>
        <%end%>
      </div>
    </div>
     <div class="picCaption">
      <%= p.caption %><br>
      <%= link_to "Edit Caption / Change Picture", edit_resource_attachment_path(p), class: "btn btn-warning" %>
      <%= link_to "Remove Picture", resource_attachment_path(p), method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
  <% end %>
  <br>
  <br><br>
<div class="picCaption">
  <strong>Add a Picture:</strong>
  <%= f.file_field :picture, :multiple => true, name: "resource_attachments[picture][]", class: 'filin' %>
  <br>
</div>



  <br>

  <div class="actions" align="center">
    <%= f.submit "Update", class: "btn btn-warning btn-lg" %>
  </div>


<% end %>
</div>
