<p id="notice"><%= notice %></p>

<h1>Resources</h1>

<table class="table">
  <thead>
    <tr>
      <th>Binomial</th>
      <th>Common</th>
      <th>Pictures</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.binomial %></td>
        <td><%= resource.common %></td>
        <td><%= resource.pictures %></td>
        <td><%= resource.description.html_safe %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>
