<p id="notice"><%= notice %></p>

<p>
  <strong>Binomial:</strong>
  <%= @resource.binomial %>
</p>

<p>
  <strong>Common:</strong>
  <%= @resource.common %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @resource.pictures %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description.html_safe %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
