<p id="notice"><%= notice %></p>
<div class="container">

<div class="plantName">
  <div class="plantCName">
    <%= @resource.common %>
  </div>
  <div class="plantLName">
    <%= @resource.binomial %>
  </div>
</div>


  <% @resource_attachments.each do |p| %>
  <div class="plantPictures">
    <%= image_tag p.picture_url %><br>
    <%= p.caption %><br>
    <%= link_to "Edit Attachment", edit_resource_attachment_path(p) %>
  </div>
  <% end %>


<div class="plantDesc">
  <strong>Description:</strong>
  <%= @resource.description.html_safe %>
</div>

<%= link_to 'Edit', edit_resource_path(@resource) %> |

<%# if current_user %>
<%#= link_to 'Manage Resources', resources_path %>
<%# end %>
<%= link_to 'Back', plantdb_path %>
</div>
