<p id="notice"><%= notice %></p>

<div class="container">

<%= link_to 'Back', plantdb_path, class: "btn btn-primary" %>
<% if current_user %>
  <%= link_to 'Edit', edit_resource_path(@resource), class: "btn btn-warning" %>
  <%= link_to 'Remove Plant File', resource_path(@resource.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to remove this plant file?"} %>
<% end %>
</div>
<div class="container resourceBG">

<div class="plantName">
  <div class="plantCName">
    <%= @resource.common %>
  </div>
  <div class="plantLName">
    <%= @resource.binomial %>
  </div>
</div>

<!-- <h3 class="labelBox">Description</h3> -->

<div class="plantDesc">
  <%= @resource.description.html_safe %>
</div>

<!-- <h3 class="labelBox">Pictures</h3> -->
  <% @resource_attachments.each do |p| %>
  <div class="plantPictures">
    <%= link_to p.picture_url do %>
      <%= image_tag p.picture_url %>
      <%end%> <br>
    <%= p.caption %><br>
  </div>
  <% end %>



</div>
